{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
             <a class="navbar-brand" href="#" >
                 <img src="{% static 'images/1.jpg' %}" width="60px" class="img-circle">
             </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="{% url 'blog:blog_title' %}">博客</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">登陆</a></li>
            </ul>
        </div>
    </nav>

</div>